body{
    margin: 0px;
    background-color: #3b414e;
    font-family: sans-serif;
}

p{
    padding: 0px 10px;
}

div.tab_bar{
    padding: 5px 5px;
}

a.tab{
    font-size: 20px;
    color:white;
    text-decoration:none;
    padding: 10px;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.tab:hover{
    -webkit-transform:translateY(5px);
    -moz-transform:translateY(5px);
    -ms-transform:translateY(5px);
    transform:translateY(5px);
}

div.page_wrapper{
    height:100%;
    display:flex;
    flex-direction: column;
}

div.page_header{
    
}

div.page_body{
    
    flex: 1;
}

div.page_footer{
    
}